---
title: Home page
published: true
---
!!!
%html{lang: "en"}
  %head
    %title VegNews
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{charset: "utf-8"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    {{ 'bootstrap.css' | stylesheet_tag }}
    {{ 'theme.css' | stylesheet_tag }}
  %body
    #header.container
      .row
        .banner-img
          {{ 'lib_veg.jpg' | theme_image_tag }}
    #main-content.container
      .row
        .col-md-8
          %h1 A Message from VegNews Founder and Publisher Joseph Connelly
          %p.joe
            {{ 'joe.jpg' | theme_image_tag }}
          %p After publishing the November+December 2013 issue of VegNews, I made the very difficult decision to suspend publication of the magazine temporarily while dealing with some personal and professional issues, including the failing health of my longtime office assistant Frances (Frankie) McGee, who succumbed to cancer on February 19.
          %p After regrouping, which included assembling an almost entirely new staff, I announced that VegNews would resume publication with a Summer Spectacular issue on June 2. Against all odds, we met our deadline and the issue is now printed and ready to be sent to you, our valued subscribers. The issue is fantastic, one of the best I have ever published, and I’d love for you to read it.
          %p Regrettably, former VegNews advertising director Colleen Holland is blocking my ability to mail the issue to you via a dubious legal and administrative attack.
          %p While I am working with my attorneys and the courts to get this matter resolved—and rest assured I will—it will take time and could <b>cost tens of thousands of dollars in legal fees</b>, money that would be better spent on spreading the vegan message and saving animal lives. So today, I am turning to you to ask for help.
          %p In the sidebar to the right are the names, phone and fax numbers, and snail and email addresses of those working with Ms. Holland to prevent you from getting YOUR magazine. You have patiently waited six months between issues and should not have to wait another day to get your VegNews. Please contact these people and politely ask them to allow the issue to be mailed immediately.
          %h3.text-center All We Are Saying is Give VegNews a Chance.
          %p.cover
            {{ 'cover.jpg' | theme_image_tag }}

        .col-md-3.pull-right
          %h3 Help Us Liberate VegNews.
          %h4 Contact the people below.
          %h4 Politely ask them to allow the issue to be mailed immediately.
          %p
            %a{ href: 'mailto:cholland@vegnews.com,colleen@vegweb.com, aholland@thoits.com, MBoennighausen@thoits.com, MDorsi@thoits.com, khourmand@thoits.com, escondidolawyer@hotmail.com, mike@pcspublink.com,angie@pcspublink.com, andrea@pcspublink.com, anita@pcspublink.com?subject=I am a subscriber to VegNews, I want to receive my subscription.'} Click here to email everyone on this list.

          %p
            Colleen Holland<br>
            415-642-6397 x102<br>
            3505 20th Street<br>
            San Francisco, CA 94110<br>
            %a{href: 'mailto:cholland@vegnews.com' } cholland@vegnews.com<br>
            %a{href: 'mailto:colleen@vegweb.com'} colleen@vegweb.com<br>
            * * * * * * * * * * * * * * *<br>
          %p
            Andrew Holland (Ms. Holland’s brother and lead attorney)<br>
            Phone: 650-327-4200<br>
            Fax: 650-325-5572<br>
            Thoits, Love, Hershberger &amp; McLean<br>
            76 Oak Grove Avenue<br>
            Los Gatos, CA 95030<br>
            %a{href: 'mailto:aholland@thoits.com'} aholland@thoits.com<br>
            * * * * * * * * * * * * * * *<br>
          %p
            Mark Boennighausen (Holland attorney)<br>
            Phone: 650-327-4200<br>
            Fax: 650-325-5572<br>
            Thoits, Love, Hershberger &amp; McLean<br>
            285 Hamilton Avenue • Suite 300<br>
            Palo Alto, CA 94301<br>
            %a{href: 'mailto:MBoennighausen@thoits.com'} MBoennighausen@thoits.com<br>
            * * * * * * * * * * * * * * *<br>
          %p
            Michael Dorsi (Holland attorney)<br>
            Phone: 650-327-4200<br>
            Fax: 650-325-5572<br>
            Thoits, Love, Hershberger &amp; McLean<br>
            285 Hamilton Avenue • Suite 300<br>
            Palo Alto, CA 94301<br>
            %a{href: 'mailto:MDorsi@thoits.com'} MDorsi@thoits.com<br>
            * * * * * * * * * * * * * * *<br>
          %p
            Kathy Hourmand (Thoits’ paralegal)<br>
            Phone: 650-327-4200<br>
            Fax: 650-325-5572<br>
            Thoits, Love, Hershberger &amp; McLean<br>
            285 Hamilton Avenue • Suite 300<br>
            Palo Alto, CA 94301<br>
            %a{href: 'mailto:khourmand@thoits.com'} khourmand@thoits.com<br>
            * * * * * * * * * * * * * * *<br>
          %p
            Rick Von Drak (Publisher’s Creative Systems’ attorney)<br>
            Phone: 760-247-5147<br>
            Fax: 760-400-8390<br>
            12277 Apple Valley<br>
            Apple Valley, CA 92308-1701<br>
            %a{href: 'mailto:escondidolawyer@hotmail.com'} escondidolawyer@hotmail.com<br>
            * * * * * * * * * * * * * * *<br>
          %p
            Publisher’s Creative Systems is VegNews’ subscription fulfillment house. It is illegally not releasing the files necessary to mail this issue.<br>
          %p
            Mike Ciuffreda, president<br>
            Publisher’s Creative Systems<br>
            Phone: 800-847-9910<br>
            Fax: 760-738-4805<br>
            119 E Grand Ave<br>
            Escondido, CA 92025<br>
            %a{href: 'mailto:mike@pcspublink.com'} mike@pcspublink.com<br>
            * * * * * * * * * * * * * * *<br>
          %p
            Angie DeLeon, operations manager<br>
            Publisher’s Creative Systems<br>
            Phone: 760-738-4970 x120 <br>
            Fax: 760-738-4805<br>
            119 E Grand Ave<br>
            Escondido, CA 92025<br>
            %a{href: 'mailto:angie@pcspublink.com'} angie@pcspublink.com<br>
            * * * * * * * * * * * * * * *<br>
          %p
            Andrea Aguilar, human resources<br>
            Publisher’s Creative Systems<br>
            Phone: 760-738-4970 x119 <br>
            Fax: 760-738-4805<br>
            119 E Grand Ave<br>
            Escondido, CA 92025<br>
            %a{href: 'mailto:andrea@pcspublink.com'} andrea@pcspublink.com<br>
            * * * * * * * * * * * * * * *<br>
          %p
            Anita Draper, customer service manager<br>
            Publisher’s Creative Systems<br>
            Phone: 760-738-4970 x124 <br>
            Fax: 760-738-4805<br>
            119 E Grand Ave<br>
            Escondido, CA 92025<br>
            %a{href: 'mailto:anita@pcspublink.com'} anita@pcspublink.com<br>
            * * * * * * * * * * * * * * *<br>
          %p
            If you would like to assist us in any way, please email <a href="mailto:liberatevegnews@vegnews.com">liberatevegnews@vegnews.com</a>. Thank you.

    #footer.container
      .row
        .col-md-12
          %p.copyright &copy; 2014 All Rights Reserved, VegNews.
    {% raw %}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51667632-1', 'liberatevegnews.com');
    ga('send', 'pageview');

    </script>
    {% endraw %}
